
@{
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />.
    <link href="~/assets/styles/normalize.css" rel="stylesheet" />
    <link href="~/assets/styles/site.css" rel="stylesheet" />
    <script src="~/assets/libs/jquery/jq1.9.1.min.js"></script>
</head>
<body class="popup">
    <header>Test</header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>This is footer</footer>
</body>
</html>


