@import 'src/styles/shared/colors.scss';

:local {
	.Tag {
		display: inline-block;
		box-sizing: border-box;
		font-family: 'Avenir Next', sans-serif;
		font-style: normal;
		font-size: 14px;
		padding: 6px 18px;
		border-radius: 25px;
		line-height: 1;

		&[data-variant='green'] {
			background-color: #bfecdf;
			color: color(prussian80);
		}

		&[data-variant='red'] {
			background-color: #f0d8d9;
			color: #860b16;
		}

		&[data-variant='yellow'] {
			background-color: #f5e9b5;
			color: color(prussian80);
		}

		&[data-variant='blue'] {
			background-color: #e2f1ff;
			color: color(prussian80);
			&:hover {
				background-color: #c2e1fe;
			}
		}
	}
}
