@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Boilerplate.AspNetCore.TagHelpers

@*@using  st.Web
@model  Models.ProductDetail*@

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" style="font-size:14px;">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>admin</title>
    <link href="~/assets/styles/normalize.css" rel="stylesheet" />
    <link href="~/assets/styles/site.css" rel="stylesheet" />
</head>

<body>
    <div>Login</div>
    <form id="form" action="/" method="post">
        <input type="text" name="userName" value="" />
        <input type="password" name="password" value="" />

    </form>
    <button id="btn">Commit</button>
    <script src="~/assets/libs/jquery/jq1.9.1.min.js"></script>

    <script>
        $(function () {
            $("#btn").on("click", function () {
                var form = $("#form").serialize();
                console.log(form);
                $.post("/secret/admin/login",form, function (data) {
                    if (data == "1") {
                        window.location.href = "/secret/admin/list"
                    } else {
                        alert("Wrong username or password")
                    }
                })
            });

        })
    </script>
</body>
</html>