
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <button id="btn">logout</button>
    </div>


    <script>

        $(function () {
            $("#btn").on("click", function () {
                $.post("/secret/admin/logout", function (data) {
                    window.location.href = "/secret/admin/login";
                })
            });
        });
    </script>