:local(.fullWidth) {
    width: 100%;
    display:flex;
    flex-direction: column;
    height:100%;
}

.head-container {
    display: block;
    transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
}

.head-container.busy {
    opacity: 0.2;
}
