@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.share {
    background: white;
    padding: 8px 16px;
    border: 1px solid #99aab2;
    border-left: none;
    border-right: none;
    color: #005e80;
    text-align: left;
    position: relative;

    .shadow {
        position: absolute;
        width: calc(100% - 32px);
        z-index: -50;
        top: 30px;
        height: 20px;
        box-shadow: 0 1px 4px rgba(0, 42, 62, 0.3), 0 0 32px rgba(0, 42, 62, 0.2);
        border-radius: 600px / 10px;
    }

    .social-icon {
        color: #698091;
        width: 22px;
        height: 22px;
        object-fit: contain;
        vertical-align: -5px;
        margin-left: 12px;
        transition: color 0.2s;

        &:hover {
            color: #005e80;
        }
    }

    .learn-more {
        display: inline-block;
        margin-left: 16px;
        padding-left: 10px;
        border-left: 1px solid #99aab2;
        line-height: 34px;
        height: 34px;

        a {
            color: #005e80;
        }
    }
}

.features {
    li {
        display: block;
        margin-right: 32px;

        .feature {
            font-size: 16px;

            .icon {
                fill: #5ba7c7;
                max-width: 80px;
                max-height: 80px;
                width: 100%;
                margin: 16px auto;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.provider {
    background-color: rgba(0, 94, 128, 0.1);
    padding: 0 24px 36px 24px;

    .provider-logo {
        background-color: white;
        border-radius: 0 0 8px 8px;
        max-width: 128px;
        padding: 8px;
    }

    .content {
        margin: 16px 0;
        text-align: left;
        color: #333;

        p {
            font-size: 16px;
        }
    }
}

.testimonial {
    display: flex;

    .avatar {

        img {
            max-width: 160px;
        }
    }

    .content {
        flex-grow: 1;
        text-align: left;
        margin-left: 64px;
        position: relative;

        q {
            font-size: 18px;
            font-style: italic;
            color: #002a3e;
        }

        q:before {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: normal;
            position: absolute;
            content: '“';
            font-size: 100px;
            left: -56px;
            top: -14px;
        }

        q:after {
            content: none;
        }

        .author {
            font-size: 16px;
            border-top: 1px dashed #667f8b;
            margin-top: 24px;
            padding-top: 16px;
        }
    }
}

.additional-info {
    h3 {
        text-align: left;
        color: #5ba7c7;
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 16px;
    }

    ul {
        li {
            display: flex;
            border: 1px solid #99aab2;
            border-left: none;
            border-right: none;
            padding: 28px 8px;
            font-size: 16px;
            text-align: left;

            img, svg {
                max-width: 48px;
                max-height: 48px;
            }

            .content {
                margin-left: 24px;

                a {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}


@include minSize($screen_md) {
    .row-2 {
        display: flex;
        width: 100%;

        > div {
            margin-right: 32px;
            width: 50%;
        }

        > div + div {
            margin-left: 32px;
            width: 50%;
        }
    }

    .features {
        display: flex;

        li {
            width: 25%;
        }
    }
}

@include maxSize($screen_md) {
    .row-2 {
        display: block;
        width: 100%;

        > div {
            margin: 0;
        }

        > div + div {
            margin: 0;
            margin-top: 24px;
        }
    }

    .features {
        display: block;

        li {
            width: 100%;

            .feature {
                display: flex;
                margin: 0 24px;

                .icon {
                    width: 50%;
                }

                .description {
                    width: 50%;
                }
            }
        }
    }

    .additional-info {
        margin: 24px;
    }

    .constrain-width {
        &.reverse {
            margin: 0;
        }
    }
}

section {
    width: 100%;
    margin: 16px auto;
}

.constrain-width {
    max-width: 1200px;

    &.reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}
