@import "~normalize.css";
// @import './page/grid.scss';
@import './fonts/_avenir.scss';

@import './page/bootstrap.scss';

body{
  font-family: "Avenir Next";
  height:100%;
}
#container{
  display: flex;
  height:100%;
}
